/*
---------------------------------------------------------------------------------
	STRIPPED DOWN RESUME TEMPLATE
    html resume

    v0.9: 5/28/09

    design and code by: thingsthatarebrown.com 
                        (matt brown)
---------------------------------------------------------------------------------
*/

.msg {
  padding: 10px;
  background: #222;
  position: relative;
}
.msg h1 {
  color: #fff;
}
.msg a {
  margin-left: 20px;
  background: #408814;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}
.msg a:hover {
  background: #266400;
}

/* //-- yui-grids style overrides -- */
body {
  font-family: Georgia;
  color: #444;
}
#inner {
  padding: 10px 80px;
  margin: 80px auto;
  background: #f5f5f5;
  border: solid #666;
  border-width: 8px 0 2px 0;
}
.yui-gf {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

/* //-- header, body, footer -- */
#hd {
  margin: 2.5em 0 3em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
}
#hd h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
#bd,
#ft {
  margin-bottom: 2em;
}

/* //-- footer -- */
#ft {
  padding: 1em 0 5em 0;
  font-size: 92%;
  border-top: 1px solid #ccc;
  text-align: center;
}
#ft p {
  margin-bottom: 0;
  text-align: center;
}

/* //-- core typography and style -- */
#hd h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h2 {
  font-size: 152%;
}
h3,
h4 {
  font-size: 122%;
}
h1,
h2,
h3,
h4 {
  color: #333;
}
p {
  font-size: 100%;
  line-height: 18px;
  padding-right: 3em;
}
a {
  color: #6e6702;
}
a:hover {
  text-decoration: none;
}
strong {
  font-weight: bold;
}
li {
  line-height: 24px;
}
p.enlarge {
  font-size: 144%;
  padding-right: 6.5em;
  line-height: 24px;
}
p.enlarge span {
  color: #2e2300;
}

img {
  width: 150px;
  border-radius: 50%;
  margin-left: 80px;
}
.contact-info {
  margin-top: 7px;
}
.first h2 {
  font-style: italic;
}
.last {
  border-bottom: 0;
}

/* //-- section styles -- */

a#pdf {
  display: block;
  float: left;
  background: #666;
  color: white;
  padding: 6px 50px 6px 12px;
  margin-bottom: 6px;
  text-decoration: none;
}
a#pdf:hover {
  background: #222;
}

.job {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.job h4 {
  position: absolute;
  top: 0.35em;
  right: 0;
}
.job p {
  margin: 0.75em 0 3em 0;
}

.last {
  border: none;
}

.skills-list ul {
  margin: 0;
}
.skills-list li {
  margin: 3px 0;
  padding: 3px 0;
}
.skills-list li span {
  font-size: 152%;
  display: block;
  margin-bottom: -2px;
  padding: 0;
}
.talent {
  width: 32%;
  float: left;
}
.talent h2 {
  margin-bottom: 6px;
}

#srt-ttab {
  margin-bottom: 100px;
  text-align: center;
}
#srt-ttab img.last {
  margin-top: 20px;
}

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u {
  width: 80.2%;
}
.yui-gf div.first {
  width: 12.3%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */

.main-content-section {
  padding: 100px 90px;
}

.main-content-titles {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #2e2300;
  margin-bottom: 10px;
}

/* About me section */

.about-me-section {
  margin-bottom: 40px;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}

.about-me-description {
  font-style: normal;
  font-weight: normal;
  color: #595959;
  width: 400px;
  font-size: 14px;
  line-height: 24px;
}

/* My projects section */

.my-projects-section {
  margin-bottom: 50px;
}

.my-projects-list {
  padding-left: 17px;
}

.my-projects-item {
  color: #2e2300;
  font-weight: bold;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* My work experience section */

.my-work-experience-company-block {
  margin-bottom: 15px;
}

.my-work-experience-company {
  color: #c05805;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  color: #2e2300;
  margin-bottom: 10px;
}

.my-work-experience-duties {
  padding-left: 17px;
}

.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2e2300;
  margin-bottom: 10px;
}

.my-work-experience-divider {
  color: #000;
}

.my-work-experience-duty-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-section {
  margin-bottom: 40px;
}

/* My education section */

.my-education-university-name {
  color: #c05805;
  margin-bottom: 10px;
}

.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2e2300;
  margin-bottom: 60px;
}

.my-education-faculty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

.my-education-divider {
  color: #000;
}

/* Sidebar section */

.sidebar-section {
  background: #2e2300;
  width: 370px;
  padding: 40px 0;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  color: #fff;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

/* Contacts section */

.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  margin-right: 7px;
}

.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #8e949c;
  line-height: 24px;
}

/* Tech skills section */

.tech-skills-list {
  padding-left: 17px;
}

.tech-skills-item {
  color: #c05805;
}

.tech-skills-item-text {
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

/* Soft skills section */

.soft-skills-list {
  padding-left: 17px;
}

.soft-skills-item {
  color: #c05805;
}

.soft-skills-item-text {
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}
